{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<form class="form-card" method="post" action="/notes/update/{{ note.id }}/">
    {% csrf_token %}
    <input class="autoresize" id="titulo" type="text" name="titulo" value="{{ note.title }}"/>
    <textarea class="autoresize" id="detalhes" name="detalhes">{{ note.content }}</textarea>
    <input class="autoresize" id="tag" type="text" name="tag" value="{{ note.tag.all|join:', ' }}"/>
    <div class="linha">
        <a class="btn btn-cancelar" href="/">Cancelar</a>
        <button class="btn" type="submit">Salvar</button>
    </div>
</form>

{% endblock %}  